/* HEADER */

/* Botão Pular para Conteúdo Principal */
nav .logo .pularNavegacao {}

/* Botão de compartilhamento */
nav .nav-link {
  /* background-color: var(--azul); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 2px solid transparent;  
  margin-top: 10px;
  width: 45px;
  height: 45px;  
}
nav .nav-link:focus,
nav .nav-link:hover,
nav .nav-link[aria-expanded="true"] {
  border: 2px solid black;
  background-color: black;
  color: white;
}
nav .dropdown-menu {
  /* background-color: var(--azul); */
  border: 2px solid black;
  height: 45px;
  padding: 1px 15px 0;
  min-width: unset;
  width: auto;
}
.dropleft .dropdown-toggle::before {
  display: none;
}
.dropdown-menu i {
  color: black;
}
nav .jssocials-shares {
  margin: 0;
  white-space: nowrap;
}

/* FOOTER */
/* Cores de fonte + contornos */
footer {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 40px;
}
footer, footer .sharing i {
  color: #fff;
}
footer .cred-rea>div:not(:first-child) {
  border-left-color: #fff;
}
footer .aval-rea .btn-secondary {
  border-color: #fff;
}
@media (max-width: 1199.98px) {
  footer .sharing i {
    background-color: #fff;
    color:  black;
  }
}
footer .aval-rea .btn-secondary:hover,
footer .aval-rea .btn-secondary:focus {
  outline: 1px solid white;
  text-decoration: underline;
}

/* Cor do ícone de compartilhamento dentro dos círculos. Ajustar para mesma cor do fundo quando utilizado background diferente do padrão ou transparente. */
/* @media (max-width: 1199.98px) {
  footer .sharing i {
    color:  red;
  } */

/* MAIN */
main {
  padding-top: 0;
  padding-bottom: 0;
}
/* @media only screen and (max-width: 992px) {
  main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
} */
